html {  font-family: 'Helvetica', monospace; 
		font-size: 14px; 
	}

body {  background-color: white; 
		margin: 30px;
		padding: 30px;
	}

.boxed {
  border: 1px dotted black ;
  padding: 10px 10px;
  border-width: 2px;
  width: 155px;
  /*background-color: #f4f4f4;*/
} 
