html {  font-family: 'Roboto' ; 
	}

body {  background-color: white; 
		/*margin: 10px;
		padding: 5px;*/
    font-family: Roboto;
    font-size: 14px;
	}

.heading { font-size: 18px;
  font-family: Roboto;
  text-align: center;
}

.boxed {
  border: 1px grey ;
}
/* Navbar */
.navbar {
  overflow: hidden;
  background-color: #FAFAFA; 
  font-family: Roboto;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 12px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 12px; 
  border: none;
  outline: none;
  color: black;
  /*text-align: center;*/
  padding: 14px 16px;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  background-color: inherit;
  /*text-align: left;
  text-decoration: underline;*/
}

/* background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #F2F2F2;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f9f9f9;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


button {
    display: none;
    height: 100px;
    padding: 10;
    margin: 0;
    vertical-align: top;
    width: 150px;
}

.aligncenter {
    text-align: center;
}

img {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

img:hover {
  opacity: 1.0;
  filter: alpha(opacity=100); 
}

.box {
  border:1.5px; 
  border-style:solid; 
  border-color:#000000; 
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}