html { font-family: 'Helvetica', monospace; font-size: 14px; }

body { background-color: white; }

.boxed {
  border: 1px dotted black ;
  padding: 10px 10px;
  border-width: 2px;
  width: 120px;
  background-color: #f4f4f4;
} 
